.home-page-wrapper {
  margin: 42px auto;
  background: $color-light;
}

/* Page info */
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  .wrapper-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition;
  }

  .wrapper-title {
    font-size: 20px;
    color: $color-light;
    margin: 0;
  }

  .wrapper-subtitle {
    font-size: 15px;
    color: $color-light;
    font-weight: normal;
    margin: 0;
  }
}

.page-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  .link-item {
    flex: 50%;
    height: 150px;
    padding: 0 3px;
    position: relative;
  }

  .link-item:hover {
    .wrapper-content {
      padding-bottom: 20px;
    }
  }

  .link-image {
    width: 100%;
    height: 100%;
    border-radius: $radius;
    overflow: hidden;
  }

  .link-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-info {
  background: $color-main;
  border-radius: $radius;
  min-height: 100px;
  position: relative;
}

/* Carousel */
.carousel {
  height: 300px;
  position: relative;
}

.carousel-cell {
  .carousel-wrapper {
    display: flex;
    align-items: center;
    min-height: 300px;
    height: 100%;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius;
    }
  }

  .carousel-content{
    padding-left: 20px;

    h4 {
      font-weight: normal;
    }

    p {
      font-style: italic;
    }
  }
}

/* Gallery */

.gallery .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-item{
  padding: 5px;
  max-width: 33.33%;
  width: 100%;
  height: 200px;
  position: relative;
  color: $color-light;
  text-align: center;
  font-size: 30px;
  overflow: hidden;

  .gallery-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $radius * 2;
    overflow: hidden;
  }

  .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-image::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-dark;
    opacity: .5;
    transition: $transition;
  }

  .gallery-buttons {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition;

    i {
      transition: $transition;

      &:hover{
        color: $color-main;
      }
    }
  }
}

.gallery-item:hover {
  .gallery-buttons {
    top: 50%;
    left: 50%;
  }

  .gallery-image::after {
    top: 0;
    left: 0;
  }
}

/* Media */

@media (max-width: 767px) {
  .page-links {
    flex-direction: column;

    .link-item {
      flex: none;
      padding-top: 5px;
    }
  }

  .carousel-cell {
    .carousel-wrapper {
      flex-direction: column;
    }

    .carousel-image {
      max-width: 200px;
      height: 100px;
    }
  }

  .gallery-item {
    max-width: 50%;
  }
}